<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filtering</title>
</head>
<body>
    <h1>Filtering HERE!</h1>
    {% for word in words %}
        
        <div id="word-{{word.id}}">
            <hr>
            <p>{{ word.word }}</p>
            <div>
            <!-- <div  style="display: flex;"> -->
                <button style="color: green;" class="accept-btn", onClick="directword({{word.id}}, 'accept')">ACCEPT</button>
                <button style="color: red;" class="ignore-btn" onClick="directword({{word.id}}, 'ignore')">IGNORE</button>
                <span id="add-stopword" style="color: darkred;"></span>
            </div>
        </div>
        
    {% endfor %}


    

    <script>
        

        
        function directword(id, text) {
            $.ajax({
                url: '{% url "uznews_directword" %}',
                data: {
                    'id': id,
                    'text': text
                },
                dataType: 'json',
                success: function (data) {
                    if (data.deleted) {
                        $("#word-" + id).remove();
                    }
                }
            });
        }
    </script>

    
    
</body>
</html>